.result{
    margin: 8px 15px;
    margin-bottom: -5px;
}
.horizontal-space{
    box-shadow: 0 0 5px 1px rgba(207, 199, 199, 0.5);
}
.combine-sideslide-result{
    display: flex;
}
.resultHead h2{
    font-size: 25px;
    font-weight: bold;
}

.product-results{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    
}
.result-card{
    font-family: "Amazon Ember", Arial, sans-serif;
    height: 600px;
    width: 284px;
    border: 1px solid gray;
    padding: 2px;
}

.selling-value{
    height: 35px;
    background-color: rgba(185, 189, 195, 0.1);
}
.product-child{
    height: 270px;
    width: 250px;
    padding:0 8px;
    cursor: pointer;
}
.product-child0{
    position: relative;
    
}
.detail-list{
    display: block;
}

.overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 189, 195, 0.1);
}
.product-description{
    padding: 2px 3px;
    width: 284px;
}
.product-name-description .product-detail-description{
    text-decoration: none;
    color: black;
    width: 100%;
    min-height: 20px;
    max-height: 150px;
    text-wrap: wrap;
    height: fit-content;
    height: 100px;
    margin-top: 4px;
    font-size: large;
    font-weight: 500;
}
.product-name-description{
    height: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-detail-description{
    display: inline-block;
}
.product-detail-description:hover {
    color: red;
    text-decoration: none;
}

.product-buys{
    font-size: 15px;
    color: gray;
}
.rupee{
    font-size: 17px;
    vertical-align: super;
}
.product-price{
    font-size: 30px;
    margin-left: 2px;
}
.product-rate{
    color: gray;
    font-size: 15px;
}
.original-price{
    margin-left: -3px;

}
.cut{
    text-decoration: line-through;
}

.off-offer{
    font-size: 17px;
}

.prime-code{
    color: orange;
    font-weight: 900;

}
.prime-code1{
    color: skyblue;
    font-weight: bolder;
    margin-left: -5px;
}
.get-it-offer{
    margin: 5px;
    font-size: 14px;
}
.date-name{
    font-weight: bold;
    margin-left: -2px;
}

.free-delivery{
    
}