
body{
    background-color: white;
}
.cards-container{
    position: relative;

}

.AdProduct{
    position: absolute;
}
.cardsContainer2{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 242px;
    padding: 30px;
    padding-left: 50px;
    row-gap: 30px;
    
}
